@charset "utf-8";
/* CSS Document */


 .gnb_left{ float:left; display:block; margin-left:40px;}
 .gnb_left li{ float:left; padding:0 10px; height:70px; line-height:70px; margin-left:20px; display:block }
.gnb_dark a{display:block;font-family:"nsr",Helvetica,AppleSDGothicNeo,AppleGothic,Arial, Dotum,'돋움',sans-serif; font-size:17px;}
 .gnb_right{ float:right; display:block;}
 .gnb_right li{ float:left; padding:0 10px; height:70px; line-height:70px; margin-left:20px;  }
 .gnb_right li a{ color:#bbb; font-size:15px;}
 .gnb_right li.go_admin{ border:1px #f79320 solid; height:inherit; line-height:inherit; padding:6px 15px; border-radius:16px; margin-top:20px;}
 .gnb_right li.go_admin a{ color:#f79320;font-size:14px; }

.gnb_dark{height: 90px; width: 100%; margin: 0 auto; top: 0; padding-top:10px; background:#fff; border-bottom:1px #e6e6e6 solid;}
.gnb_dark .gnb{padding:0 50px; }
.gnb_dark .gnb a.logo{height: 50px; display: block; float: left; width: 142px; margin: 10px 0; position: relative; background:url(../images/logo.png) 0 0 no-repeat;} 
.gnb_dark .gnb .gnb_left li a{color:#555;}
.gnb_dark .gnb .gnb_left li.on a{color:#f79320;}


/*.footer*/
.footer {width:100%; background-color:#fff; border-top:1px #f0f0f0 solid; bottom:0; float:left;}
.footer .foot_wrap {width:1240px;margin:0 auto;  display:inline-block; padding-top:50px;}
.footer .foot_lt {float:left; font-size:13px; line-height:24px; color:#808080;  font-weight:100; text-align:left; width:400px; }
.footer .foot_ct {float:left; margin-left:115px;  text-align:left; }
.footer .foot_ct dl{ float:left; margin-right:20px; width:150px; font-size:14px; }
.footer .foot_ct dt {color:#333; font-weight:600; margin-bottom:20px;}
.footer .foot_ct dd{color:#666; font-weight:400; margin-bottom:10px;}
.footer .foot_ct dd a{color:#666; display:block;}

.footer .foot_rt {float:right; font-weight:100; line-height:25px; width:200px;}
.footer .foot_rt #family_site { float:left; font-size:13px; width:200px; height:30px; border:1px #ccc solid; color:#808080; background:url(../images/ico_family.png) 180px 10px no-repeat; }
.footer .foot_bt{width:100%; float:left; height:40px; line-height:40px; margin-top:40px; border-top:1px #f0f0f0 solid; font-size:12px; color:#999; }
.footer a.clean{ float:right; margin:-2px 0 0 20px; }

.foot_banner{ float:left; margin-top:30px; }
.foot_banner li{ float:left; margin-bottom:20px; width:200px;font-size:11px; text-align:left; line-height:16px;}
.foot_banner li a{ display:block; padding-left:80px;  color:#777;}
.foot_banner li.uci a{ background:url(../images/foot_uci.jpg) 0 2px no-repeat; }
.foot_banner li.cleansite a{background:url(../images/foot_clean.png) 0 0 no-repeat; }

