<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Bookmark">
        
    <insert id="insertBookmark" useGeneratedKeys="true" keyProperty="seq" keyColumn="seq">
        INSERT INTO bookmark (member_seq, bookName, activate, regDate) VALUES (#{member_seq}, #{bookName}, 1, NOW())
        
        <selectKey keyProperty="seq" resultType="int" order="AFTER">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
    </insert>
    
    <insert id="insertBookmarkPhoto">
        <selectKey resultType="integer" keyProperty="seq" order="BEFORE">
            SELECT seq FROM bookmark WHERE member_seq = #{member_seq} AND bookName = #{bookName}
        </selectKey>
        INSERT INTO bookmarkPhoto (bookmark_seq, photo_uciCode, regDate) VALUES (#{seq}, #{photo_uciCode}, NOW())
    </insert>
    
    <select id="selectBookmark" resultType="com.dahami.newsbank.web.dto.BookmarkDTO" parameterType="java.util.Map">
        SELECT seq, member_seq, bookName, activate, regDate FROM bookmark WHERE member_seq = #{member_seq} ORDER BY regDate ASC
    </select>
    
    <select id="selectOne_Bookmark" resultType="com.dahami.newsbank.web.dto.BookmarkDTO" parameterType="java.util.Map">
        SELECT A.seq, A.member_seq, A.bookName, A.activate, A.regDate, B.photo_uciCode 
		FROM bookmark A
		INNER JOIN bookmarkPhoto B ON A.seq = B.bookmark_seq
		WHERE A.member_seq = #{member_seq} AND B.photo_uciCode = #{photo_uciCode} 
    </select>
    
    <delete id="deleteBookmark" parameterType="java.util.Map">
        DELETE FROM bookmark WHERE member_seq = #{member_seq} AND seq = #{bookmark_seq}        
    </delete>
    
    <delete id="deleteBookmarkPhoto">
        DELETE A.* FROM bookmarkPhoto A
		INNER JOIN bookmark B ON A.bookmark_seq = B.seq
		WHERE A.photo_uciCode = #{photo_uciCode} AND B.member_seq = #{member_seq}
    </delete>
    
    <update id="updateBookmark" parameterType="java.util.Map">
        UPDATE bookmark SET
        	bookName = #{bookName} 
       	WHERE member_seq = #{member_seq} AND seq = #{bookmark_seq}     
    </update>
    
    <update id="updateBookmarkPhoto" parameterType="java.util.Map">
        UPDATE bookmarkPhoto SET
        	bookmark_seq = #{bookmark_seq} 
       	WHERE photo_uciCode = #{photo_uciCode}        
    </update>
    
    <select id="selectBookmarkPhoto" resultType="com.dahami.newsbank.web.dto.BookmarkDTO" parameterType="java.util.Map">
        SELECT B.seq, A.member_seq, A.activate, B.photo_uciCode, A.bookName
		FROM bookmark A
		INNER JOIN bookmarkPhoto B ON A.seq = B.bookmark_seq
		WHERE A.member_seq = #{member_seq} 
		ORDER BY B.seq DESC
    </select>
    
</mapper>