<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Cart">
	<select id="selectCartList" resultType="com.dahami.newsbank.web.dto.CartDTO" parameterType="java.util.Map">
      	SELECT A.photo_uciCode as uciCode, B.copyright, SUM(price) as price FROM basket A 
		INNER JOIN photo B ON A.photo_uciCode = B.uciCode
		WHERE A.member_seq = #{member_seq}
		GROUP BY A.photo_uciCode
	</select>
	
	<select id="selectUsageList" resultType="com.dahami.newsbank.web.dto.UsageDTO" parameterType="java.util.Map">
	    SELECT A.usage, A.division1, A.division2, A.division3, A.division4, A.usageDate FROM usageList A
		INNER JOIN basket B ON A.seq = B.usageList_seq
		WHERE B.photo_uciCode = #{uciCode}
	</select>
</mapper>