<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Download">
	<insert id="insDownload" keyColumn="seq" keyProperty="seq" useGeneratedKeys="true" parameterType="com.dahami.newsbank.web.dto.DownloadDTO">
		insert 
			into download
			(photo_uciCode, member_seq, ipAddress)
			values
       		(#{uciCode}, #{memberSeq}, #{ipAddress})
    </insert>
	
	<select id="selDownloadable" parameterType="java.util.Map" resultType="int">
		<![CDATA[
		SELECT seq 
			FROM 
				paymentDetail
			WHERE photo_uciCode = #{uciCode}
				AND downStart <= NOW() 
				AND downEnd >= NOW() 
				AND paymentManage_seq IN 
					(SELECT seq FROM paymentManage WHERE member_seq IN (${memberListStr}) AND LGD_PAYSTATUS = 1)
		]]>
	</select>
	
	<!-- 정산 매체사 MediaDTO -->
	<resultMap id="DelayDownloadDTO" type="java.util.HashMap">
	    <result javaType="java.lang.Integer" column="seq" property="seq"></result>
	    <result javaType="java.lang.String" column="photo_uciCode" property="photo_uciCode"></result>
	    <result javaType="java.lang.String" column="ipAddress" property="ipAddress"></result>
	    <result javaType="java.lang.String" column="regDate" property="regDate"></result>
	    <result javaType="java.lang.String" column="copyright" property="copyright"></result>
	    <result javaType="java.lang.String" column="admission" property="admission"></result>
	    <result javaType="java.lang.String" column="withdraw" property="withdraw"></result>
	    <result javaType="java.lang.String" column="activate" property="activate"></result>
	    <result javaType="java.lang.Integer" column="saleState" property="saleState"></result>
	</resultMap>
	
	<select id="selDownList" parameterType="java.util.Map" resultMap="DelayDownloadDTO">
	    SELECT A.seq, A.photo_uciCode, A.ipAddress, A.regDate, C.compName AS copyright, C.withdraw, C.admission, C.activate, B.saleStat AS saleState
			FROM `download` A
		INNER JOIN photo B
		ON A.photo_uciCode = B.uciCode
		INNER JOIN member C
		ON B.member_seq = C.seq
		<where>
			<foreach item="member_seq" collection="memberList" index="idx" open="(" separator="OR" close=")">
	            A.member_seq = #{member_seq} 
	        </foreach>
			<if test="year != 0 and year != null">
				AND YEAR(A.regDate) = #{year}
			</if>
			<if test="month != 0 and month != null">
			    AND MONTH(A.regDate) = #{month}
		    </if>
		</where>
		ORDER BY A.regDate DESC
		LIMIT #{startPage}, #{pageVol}
	</select>
	
	<select id="selDownListTotalCnt" parameterType="java.util.Map" resultType="integer">
	    SELECT COUNT(A.seq) as cnt
			FROM `download` A
		INNER JOIN photo B
		ON A.photo_uciCode = B.uciCode
		<where>
			<foreach item="member_seq" collection="memberList" index="idx" open="(" separator="OR" close=")">
	            A.member_seq = #{member_seq} 
	        </foreach>
			<if test="year != 0 and year != null">
				AND YEAR(A.regDate) = #{year}
			</if>
			<if test="month != 0 and month != null">
			    AND MONTH(A.regDate) = #{month}
		    </if>
		</where>
		ORDER BY A.regDate DESC
	</select>
	
	<!-- 전체 사용자 다운로드 내역 -->
	<resultMap id="TotalDownloadDTO" type="java.util.HashMap">
	    <result javaType="java.lang.String" column="id" property="id"></result>
	    <result javaType="java.lang.String" column="name" property="name"></result>
	    <result javaType="java.lang.String" column="compName" property="compName"></result>
	    <result javaType="java.lang.String" column="media" property="media"></result>
	    <result javaType="java.lang.String" column="uciCode" property="uciCode"></result>
	    <result javaType="java.lang.String" column="compCode" property="compCode"></result>
	    <result javaType="java.lang.String" column="regDate" property="regDate"></result>
	</resultMap>
	
	<!-- 전체 다운로드 내역  -->
	<select id="TotalDownlist" parameterType="java.util.Map" resultMap="TotalDownloadDTO">
	    SELECT M.compName, M.id, M.name,
		(SELECT compName FROM member WHERE seq = P.member_seq) AS media, 
		P.uciCode, P.compCode, D.regDate  FROM download D
		INNER JOIN member M ON D.member_seq = M.seq
		INNER JOIN photo P ON D.photo_uciCode = P.uciCode
		WHERE M.`type` = 'C' AND M.deferred != 0
			<if test="keywordType == 'member'"> <!-- 회사/기관명, 아이디, 이름 -->
		     AND ( 
			     M.id LIKE CONCAT('%', #{keyword}, '%')
				 OR M.name LIKE CONCAT('%', #{keyword}, '%')
				 OR M.compName LIKE CONCAT('%', #{keyword}, '%')
			 )
			</if>
			
			<if test="keywordType == 'photo'"> <!-- UCI코드, 언론사 사진번호 -->
			 AND (   P.uciCode LIKE CONCAT('%', #{keyword}, '%')
				OR (SELECT compCode FROM photo WHERE uciCode = D.photo_uciCode) LIKE CONCAT('%', #{keyword}, '%')
			 )
			</if>
			
			<if test="contractStart != null and contractStart != '' and contractEnd != null and contractEnd != ''">
			    AND D.regDate BETWEEN #{contractStart} AND #{contractEnd}
			</if>
		ORDER BY D.regDate DESC
		LIMIT #{startPage}, #{pageVol}
    </select>
    
	<!-- 전체 다운로드 내역 갯수 -->
	<select id="totalCnt" parameterType="java.util.Map" resultType="integer">
	    SELECT COUNT(D.seq) AS cnt
	    FROM download D
		INNER JOIN member M ON D.member_seq = M.seq
		INNER JOIN photo P ON D.photo_uciCode = P.uciCode
		WHERE M.`type` = 'C' AND M.deferred != 0
			<if test="keywordType == 'member'"> <!-- 회사/기관명, 아이디, 이름 -->
		    AND ( 
			     M.id LIKE CONCAT('%', #{keyword}, '%')
				 OR M.name LIKE CONCAT('%', #{keyword}, '%')
				 OR M.compName LIKE CONCAT('%', #{keyword}, '%')
			 )
			</if>
			
			<if test="keywordType == 'photo'"> <!-- UCI코드, 언론사 사진번호 -->
			AND (   P.uciCode LIKE CONCAT('%', #{keyword}, '%')
				OR (SELECT compCode FROM photo WHERE uciCode = D.photo_uciCode) LIKE CONCAT('%', #{keyword}, '%')
			 )
			</if>
			
			<if test="contractStart != null and contractEnd != null">
			    AND D.regDate BETWEEN #{contractStart} AND #{contractEnd}
			</if>
		ORDER BY D.regDate DESC 
    </select>
	
	<!-- 비구매 계정 -->
	<resultMap id="userMap" type="java.util.HashMap">
	    <result javaType="java.lang.String" column="compName" property="compName"></result>
	    <result javaType="java.lang.String" column="id" property="id"></result>
	    <result javaType="java.lang.String" column="name" property="name"></result>
	    <result javaType="java.lang.String" column="phone" property="phone"></result>
	</resultMap>
	
	<select id="notSellList" parameterType="java.util.Map" resultMap="userMap">
	    SELECT compName, name, id, seq, phone FROM member
			WHERE deferred = 2 AND seq IN (
				SELECT d.member_seq FROM download d
				INNER JOIN member m ON d.member_seq = m.seq
				LEFT JOIN paymentManage p ON d.member_seq = p.member_seq
				WHERE p.seq IS NULL
				GROUP BY d.member_seq
			)
		<if test="keyword !=null">
			<bind name="keyword" value="'%' + keyword + '%'" />
			AND (compName LIKE #{keyword} OR name LIKE #{keyword} OR id LIKE #{keyword}) 
		</if>
		ORDER BY regDate DESC
		LIMIT #{startPage}, #{pageVol}
	</select>
	
	<select id="notSellListCount" parameterType="java.util.Map" resultType="integer">
	    SELECT COUNT(seq) AS cnt FROM member
			WHERE deferred = 2 AND seq IN (
				SELECT d.member_seq FROM download d
				INNER JOIN member m ON d.member_seq = m.seq
				LEFT JOIN paymentManage p ON d.member_seq = p.member_seq
				WHERE p.seq IS NULL
				GROUP BY d.member_seq
			)
		<if test="keyword !=null">
			<bind name="keyword" value="'%' + keyword + '%'" />
			AND (compName LIKE #{keyword} OR name LIKE #{keyword} OR id LIKE #{keyword}) 
		</if>
		ORDER BY regDate DESC		
	</select>
</mapper>
    