<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Home">
	<!-- 이미지 정보 출력  안씀 -->
	<select id="selPhoto" parameterType="java.util.Map" resultType="com.dahami.newsbank.web.dto.HomeDTO">
		SELECT * FROM photo_test
		where uciCode = #{uciCode}
	
	</select>



	<select id="selectSample" 	resultType="java.util.HashMap">
		SELECT * FROM photo_test LIMIT 100

	</select>

</mapper>