<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
	<!-- 로그인 체크 -->
	<select id="selectLogin" parameterType="java.util.Map"
		resultType="com.dahami.newsbank.web.dto.MemberDTO">
		SELECT * FROM member
		where id = #{id}
		<if test="pw != null">
			AND pw = #{pw}
		</if>

	</select>

	<!-- 회원가입 아이디 체크 -->
	<select id="selectId" parameterType="java.util.Map"
		resultType="com.dahami.newsbank.web.dto.MemberDTO">
		SELECT `id` FROM member
		where id = #{id}
	

	</select>




	<select id="listMember" resultType="java.util.HashMap">
		SELECT * FROM member LIMIT
		100

	</select>

</mapper>