<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment">


	<!--기간별 온라인/오프라인 결제 합계 -->
	<select id="selectTotalPrice" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		SELECT CASE
		M.LGD_PAYTYPE WHEN '000000' THEN 'onLine' ELSE
		'offline' END as TYPE,
		YEAR(M.LGD_PAYDATE) as Y, MONTH(M.LGD_PAYDATE)
		as M, SUM(D.price) AS
		totalPrice FROM `paymentManage`
		AS M LEFT JOIN
		`paymentDetail` D ON M.seq = D.`paymentManage_seq` LEFT JOIN `photo` P
		ON P.`uciCode` = D.`photo_uciCode`
		where
		M.LGD_RESPCODE='0000'
		AND
		(P.`member_seq` = #{member_seq} OR P.`member_seq` IN (SELECT
		`adjSlave` FROM `adjustment` A
		INNER JOIN member M ON A.adjSlave = M.seq
		WHERE M.admission = 'Y' AND
		`adjMaster`=
		#{member_seq} ))
		AND M.LGD_PAYDATE BETWEEN #{start_date}
		AND
		#{end_date}
		GROUP BY TYPE,Y,M ORDER BY TYPE,Y,M ASC

	</select>

	<!--검색 기간별 온라인/오프라인 결제 내역 -->
	<select id="selectToTalAccountList" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">

		SELECT M.`LGD_BUYER`,
		M.`LGD_OID`,
		M.`LGD_PAYTYPE`,
		M.`LGD_PAYDATE`,
		D.`photo_uciCode`, D.`price`,
		U.`usage`,
		U.`division1`, U.`division2`,
		U.`division3`, U.`division4`,
		U.`usageDate`,
		P.`copyright`,
		mp.`preRate`,
		mp.`postRate`
		FROM
		`paymentManage` AS M
		LEFT JOIN
		paymentDetail D ON M.seq =
		D.paymentManage_seq
		LEFT JOIN usageList U ON
		U.seq = D.usageList_seq
		LEFT JOIN photo P ON P.uciCode =
		D.photo_uciCode
		LEFT JOIN member mm ON
		M.member_seq = mm.seq
		LEFT JOIN
		member mp ON P.member_seq = mp.seq
		where
		M.LGD_PAYSTATUS='1'
		AND
		(P.`member_seq` = #{member_seq} OR
		P.`member_seq` IN
		(SELECT `adjSlave`
		FROM `adjustment` A 
		INNER JOIN member M ON A.adjSlave = M.seq
		WHERE M.admission = 'Y' AND
		`adjMaster` =#{member_seq}))
		<if test="start_date !=null and end_date !=null">
			AND M.LGD_PAYDATE BETWEEN #{start_date} AND
			#{end_date}
		</if>
		<if test="keyword !=null">
			<bind name="keyword" value="'%' + keyword + '%'" />
			AND (mm.`id` LIKE #{keyword} OR mm.`name` LIKE #{keyword}
			OR
			mm.`compName` LIKE #{keyword})
		</if>


		<if test="paytype !=null">
			AND M.`LGD_PAYTYPE`=#{paytype}
		</if>

		<if test="media !=null">
			AND P.`member_seq` IN (${media})
		</if>
		ORDER BY P.`copyright`,M.`LGD_PAYTYPE`,M.`LGD_PAYDATE` ASC
	</select>



	<!-- 결제 정보 목록 호출 -->
	<select id="selectPaymentManage" parameterType="com.dahami.newsbank.web.dto.PaymentManageDTO"
		resultType="com.dahami.newsbank.web.dto.PaymentManageDTO">
		SELECT `seq` as `paymentManage_seq`, `member_seq`, `LGD_BUYER`, `LGD_BUYERID`,
		`LGD_BUYERPHONE`, `LGD_RESPCODE`, `LGD_RESPMSG`, `LGD_OID`,
		`LGD_AMOUNT`, `LGD_TID`, `LGD_PAYTYPE`, `LGD_PAYDATE`, `LGD_PAYSTATUS`,
		`LGD_PRODUCTINFO`, `LGD_ACCOUNTNUM`, `regDate` FROM `paymentManage`
		where `member_seq` = #{member_seq}
		AND `LGD_PAYSTATUS` != '2'
		AND !(`LGD_PAYSTATUS`='3' AND now()  > date_add(`regDate`, interval 1 day))
		<if test="LGD_OID !=null">
			AND LGD_OID = #{LGD_OID}
		</if>

	</select>



	<!-- 결제 정보 상세 호출 -->
	<select id="selectPaymentDetail" resultMap="paymentManageResult">
		SELECT M.`seq` as `paymentManage_seq`,
		M.`member_seq`, M.`LGD_BUYER`,
		M.`LGD_BUYERID`,
		M.`LGD_BUYERPHONE`, M.`LGD_RESPCODE`,
		M.`LGD_RESPMSG`,
		M.`LGD_OID`,M.LGD_PAYSTATUS,
		M.`LGD_AMOUNT`, M.`LGD_TID`,
		M.`LGD_PAYTYPE`,
		M.`LGD_PAYDATE`,
		M.`LGD_PRODUCTINFO`, M.`LGD_FINANCENAME`,
		M.`LGD_ACCOUNTNUM`,
		M.`regDate`,
		D.`seq` as `paymentDetail_seq`,
		D.`usageList_seq`,
		D.`photo_uciCode`, D.`price`,
		D.`downStart`,
		D.`downEnd`, D.`downCount`,
		U.`seq` as `usageList_seq`,
		U.`usage`,
		U.`division1`, U.`division2`, U.`division3`, U.`division4`,
		U.`usageDate`, U.`price`,
		P.`uciCode`, P.`copyright`, P.`ownerType`
		FROM
		`paymentManage`
		AS M
		LEFT JOIN
		paymentDetail D ON M.seq =
		D.paymentManage_seq
		LEFT JOIN
		usageList U ON
		U.seq = D.usageList_seq
		LEFT
		JOIN photo P ON P.uciCode =
		D.photo_uciCode
		where
		M.`member_seq` =
		#{member_seq}
		<if test="LGD_OID !=null">
			AND M.LGD_OID = #{LGD_OID}
		</if>
		<if test="LGD_PAYSTATUS !=null">
			AND M.LGD_PAYSTATUS = #{LGD_PAYSTATUS}
		</if>

		ORDER BY M.`regDate` DESC
	</select>
	<!-- 결제 정보 호출 Result -->
	<resultMap id="paymentManageResult" type="com.dahami.newsbank.web.dto.PaymentManageDTO">
		<id property="paymentManage_seq" column="paymentManage_seq" />
		<result property="member_seq" column="member_seq" />
		<result property="LGD_BUYER" column="LGD_BUYER" />
		<result property="LGD_BUYERID" column="LGD_BUYERID" />
		<result property="LGD_BUYERPHONE" column="LGD_BUYERPHONE" />
		<result property="LGD_RESPCODE" column="LGD_RESPCODE" />
		<result property="LGD_PAYSTATUS" column="LGD_PAYSTATUS" />
		<result property="LGD_RESPMSG" column="LGD_RESPMSG" />
		<result property="LGD_OID" column="LGD_OID" />
		<result property="LGD_AMOUNT" column="LGD_AMOUNT" />
		<result property="LGD_TID" column="LGD_TID" />
		<result property="LGD_PAYTYPE" column="LGD_PAYTYPE" />
		<result property="LGD_PAYDATE" column="LGD_PAYDATE" />
		<result property="LGD_PRODUCTINFO" column="LGD_PRODUCTINFO" />
		<result property="LGD_FINANCENAME" column="LGD_FINANCENAME" />
		<result property="LGD_ACCOUNTNUM" column="LGD_ACCOUNTNUM" />
		<result property="regDate" column="regDate" />
		<collection property="paymentDetailList"
			ofType="com.dahami.newsbank.web.dto.PaymentDetailDTO" resultMap="paymentDetailResult" />
	</resultMap>

	<!-- 결제 상세 정보 호출 Result -->
	<resultMap id="paymentDetailResult" type="com.dahami.newsbank.web.dto.PaymentDetailDTO">
		<id property="paymentDetail_seq" column="paymentDetail_seq" />
		<result property="paymentManage_seq" column="paymentManage_seq" />
		<result property="usageList_seq" column="usageList_seq" />
		<result property="photo_uciCode" column="photo_uciCode" />
		<result property="price" column="price" />
		<result property="downStart" column="downStart" />
		<result property="downEnd" column="downEnd" />
		<result property="downCount" column="downCount" />
		<association property="usageDTO" column="usageList_seq"
			javaType="com.dahami.newsbank.web.dto.UsageDTO" resultMap="usageListResult" />
		<association property="photoDTO" column="photo_uciCode"
			javaType="com.dahami.newsbank.dto.PhotoDTO" resultMap="photoResult" />
	</resultMap>

	<resultMap id="usageListResult" type="com.dahami.newsbank.web.dto.UsageDTO">
		<id property="usageList_seq" column="usageList_seq" />
		<result property="usage" column="usage" />
		<result property="division1" column="division1" />
		<result property="division2" column="division2" />
		<result property="division3" column="division3" />
		<result property="division4" column="division4" />
		<result property="usageDate" column="usageDate" />
		<result property="price" column="price" />

	</resultMap>


	<resultMap id="photoResult" type="com.dahami.newsbank.dto.PhotoDTO">
		<id property="uciCode" column="uciCode" />
		<result property="copyright" column="copyright" />
		<result property="ownerType" column="ownerType" />
	</resultMap>


	<!-- 결제정보 입력 -->
	<insert id="insertPaymentManage" parameterType="com.dahami.newsbank.web.dto.PaymentManageDTO"
		useGeneratedKeys="true" keyProperty="paymentManage_seq">
		INSERT INTO `paymentManage` (
		member_seq
		<if test="LGD_BUYER != null">, LGD_BUYER</if>
		<if test="LGD_BUYERID != null">,LGD_BUYERID</if>
		<if test="LGD_BUYERPHONE != null">, LGD_BUYERPHONE</if>
		<if test="LGD_RESPCODE != null">, LGD_RESPCODE</if>
		<if test="LGD_RESPMSG != null">, LGD_RESPMSG</if>
		<if test="LGD_OID != null">, LGD_OID</if>
		<if test="LGD_PAYSTATUS != null">, LGD_PAYSTATUS</if>
		<if test="LGD_AMOUNT != null">, LGD_AMOUNT</if>
		<if test="LGD_TID != null">, LGD_TID</if>
		<if test="LGD_PAYTYPE != null">, LGD_PAYTYPE</if>
		<if test="LGD_PAYDATE != null">, LGD_PAYDATE</if>
		<if test="LGD_PRODUCTINFO != null">, LGD_PRODUCTINFO</if>
		<if test="LGD_ACCOUNTNUM != null">, LGD_ACCOUNTNUM</if>
		) values (
		#{member_seq}
		<if test="LGD_BUYER != null">, #{LGD_BUYER}</if>
		<if test="LGD_BUYERID != null">, #{LGD_BUYERID}</if>
		<if test="LGD_BUYERPHONE != null">, #{LGD_BUYERPHONE}</if>
		<if test="LGD_RESPCODE != null">, #{LGD_RESPCODE}</if>
		<if test="LGD_RESPMSG != null">, #{LGD_RESPMSG}</if>
		<if test="LGD_OID != null">, #{LGD_OID}</if>
		<if test="LGD_PAYSTATUS != null">, #{LGD_PAYSTATUS}</if>
		<if test="LGD_AMOUNT != null">, #{LGD_AMOUNT}</if>
		<if test="LGD_TID != null">, #{LGD_TID}</if>
		<if test="LGD_PAYTYPE != null">, #{LGD_PAYTYPE}</if>
		<if test="LGD_PAYDATE != null">, #{LGD_PAYDATE}</if>
		<if test="LGD_PRODUCTINFO != null">, #{LGD_PRODUCTINFO}</if>
		<if test="LGD_ACCOUNTNUM != null">, #{LGD_ACCOUNTNUM}</if>
		)
		<selectKey resultType="int" keyProperty="paymentManage_seq">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
	</insert>


	<!-- 결제 상세정보 입력 -->
	<insert id="insertPaymentDetail" parameterType="com.dahami.newsbank.web.dto.PaymentDetailDTO"
		useGeneratedKeys="true" keyProperty="paymentDetail_seq">
		INSERT INTO `paymentDetail` (
		paymentManage_seq
		<if test="usageList_seq != null">, usageList_seq</if>
		<if test="photo_uciCode != null">,photo_uciCode</if>
		<if test="price != null">, price</if>

		) values (
		#{paymentManage_seq}
		<if test="usageList_seq != null">, #{usageList_seq}</if>
		<if test="photo_uciCode != null">, #{photo_uciCode}</if>
		<if test="price != null">, #{price}</if>

		)
		<selectKey resultType="int" keyProperty="paymentDetail_seq">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
	</insert>



	<!-- 결제 정보 업데이트 -->
	<update id="updatePaymentManage" parameterType="com.dahami.newsbank.web.dto.PaymentManageDTO">
		update `paymentManage`
		<set>
			LGD_RESPCODE = #{LGD_RESPCODE}
			<if test="LGD_RESPMSG != null">, LGD_RESPMSG = #{LGD_RESPMSG}</if>
			<if test="LGD_TID != null">, LGD_TID = #{LGD_TID}</if>
			<if test="LGD_PAYSTATUS != null">, LGD_PAYSTATUS = #{LGD_PAYSTATUS}</if>
			<if test="LGD_FINANCENAME != null">, LGD_FINANCENAME = #{LGD_FINANCENAME}</if>
			<if test="LGD_ACCOUNTNUM != null">, LGD_ACCOUNTNUM = #{LGD_ACCOUNTNUM}</if>

		</set>
		where LGD_OID = #{LGD_OID}

	</update>
	
		<!-- 결제 정보 목록 호출 -->
	<select id="selectPaymentOID" parameterType="com.dahami.newsbank.web.dto.PaymentManageDTO"
		resultType="com.dahami.newsbank.web.dto.PaymentManageDTO">
		SELECT `seq` as `paymentManage_seq`, `member_seq`, `LGD_BUYER`, `LGD_BUYERID`,
		`LGD_BUYERPHONE`, `LGD_RESPCODE`, `LGD_RESPMSG`, `LGD_OID`,
		`LGD_AMOUNT`, `LGD_TID`, `LGD_PAYTYPE`, `LGD_PAYDATE`,
		`LGD_PRODUCTINFO`, `LGD_ACCOUNTNUM`, `regDate` FROM `paymentManage`
		where  LGD_OID = #{LGD_OID}

	</select>
	

	<!-- 결제 상세 정보 업데이트 -->
	<update id="updatePaymentDetail" parameterType="com.dahami.newsbank.web.dto.PaymentDetailDTO">
		update `paymentDetail`
		<set>
			downCount = #{downCount}
			<if test="price >0">, price = #{price}</if>
			<if test="downStart != null">, downStart = #{downStart}</if>
			<if test="downEnd != null">, downEnd = #{downEnd}</if>

		</set>
		where `seq`=#{paymentDetail_seq}
	</update>


	<!-- 결제 이미지 날짜 갱신 -->
	<update id="updateDownloadDate" parameterType="com.dahami.newsbank.web.dto.PaymentDetailDTO">
		update `paymentDetail`
		<set>
			downStart = #{downStart} , downEnd = #{downEnd}
		</set>
		where paymentManage_seq = #{paymentManage_seq}

	</update>

	<delete id="deletePaymentCart">
		DELETE FROM basket WHERE
		member_seq=#{member_seq} AND photo_uciCode
		IN (SELECT photo_uciCode
		FROM paymentDetail WHERE
		paymentManage_seq =
		#{paymentManage_seq});
	</delete>
	
	<!-- 전체 사용자 구매내역 -->
	<select id="selectAllPaymentDetail" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		
	   SELECT M.`LGD_BUYER`,
		M.`LGD_OID`,
		M.`LGD_PAYTYPE`,
		M.`LGD_PAYDATE`,
		M.`LGD_PAYSTATUS`,
		M.`LGD_TID`,
		D.`photo_uciCode`, D.`price`, D.`status`,
		U.`usage`,
		U.`division1`, U.`division2`,
		U.`division3`, U.`division4`,
		U.`usageDate`,
		P.`copyright`,
		mp.`preRate`,
		mp.`postRate`,
		mp.`compName`,
		mm.`name`,
		mm.`id`
		FROM
		`paymentManage` AS M
		LEFT JOIN
		paymentDetail D ON M.seq =
		D.paymentManage_seq
		LEFT JOIN usageList U ON
		U.seq = D.usageList_seq
		LEFT JOIN photo P ON P.uciCode =
		D.photo_uciCode
		LEFT JOIN member mm ON
		M.member_seq = mm.seq
		LEFT JOIN
		member mp ON P.member_seq = mp.seq
		where
		M.LGD_PAYSTATUS !='0'	
		
		<if test="start_date !=null and end_date !=null">
			AND M.LGD_PAYDATE BETWEEN #{start_date} AND #{end_date}			
		</if>
		
		<if test="keyword !=null">
			<bind name="keyword" value="'%' + keyword + '%'" />
			AND (mm.`id` LIKE #{keyword} OR mm.`name` LIKE #{keyword}
			OR
			mm.`compName` LIKE #{keyword}
			OR 
			D.`photo_uciCode` LIKE #{keyword}
			OR 
			M.`LGD_OID` LIKE #{keyword} 
			)
		</if>
		
		<if test="status !=null">
			AND D.`status`= #{status}
		</if>
		
		ORDER BY P.`copyright`,M.`LGD_PAYTYPE`,M.`LGD_PAYDATE` ASC
		
		<if test="startPage !=null and pageVol != null">
		    LIMIT #{startPage}, #{pageVol}
	    </if>
		
	</select>
	
	<!-- 전체 사용자 구매내역 갯수-->
	<select id="AllPaymentDetailCnt" parameterType="java.util.HashMap"	resultType="integer">
		
	   SELECT COUNT(M.`seq`) as cnt
		FROM
		`paymentManage` AS M
		LEFT JOIN
		paymentDetail D ON M.seq =
		D.paymentManage_seq
		LEFT JOIN usageList U ON
		U.seq = D.usageList_seq
		LEFT JOIN photo P ON P.uciCode =
		D.photo_uciCode
		LEFT JOIN member mm ON
		M.member_seq = mm.seq
		LEFT JOIN
		member mp ON P.member_seq = mp.seq
		where
		M.LGD_PAYSTATUS !='0'		
		
		<if test="start_date !=null and end_date !=null">
			AND M.LGD_PAYDATE BETWEEN #{start_date} AND #{end_date}			
		</if>
		
		<if test="keyword !=null">
			<bind name="keyword" value="'%' + keyword + '%'" />
			AND (mm.`id` LIKE #{keyword} OR mm.`name` LIKE #{keyword}
			OR
			mm.`compName` LIKE #{keyword}
			OR 
			D.`photo_uciCode` LIKE #{keyword}
			OR 
			M.`LGD_OID` LIKE #{keyword} 
			)
		</if>
		
		<if test="status !=null">
			AND D.`status`= #{status}
		</if>
		
		ORDER BY P.`copyright`,M.`LGD_PAYTYPE`,M.`LGD_PAYDATE` ASC
	</select>
	
	<!-- 전체 사용자 구매내역 판매금액 함계-->
	<select id="AllPaymentDetailPrice" parameterType="java.util.HashMap"	resultType="integer">
		
	   SELECT COALESCE(SUM(D.`price`), 0) as sum
		FROM
		`paymentManage` AS M
		LEFT JOIN
		paymentDetail D ON M.seq =
		D.paymentManage_seq
		LEFT JOIN usageList U ON
		U.seq = D.usageList_seq
		LEFT JOIN photo P ON P.uciCode =
		D.photo_uciCode
		LEFT JOIN member mm ON
		M.member_seq = mm.seq
		LEFT JOIN
		member mp ON P.member_seq = mp.seq
		where
		M.LGD_PAYSTATUS !='0'	
		
		<if test="start_date !=null and end_date !=null">
			AND M.LGD_PAYDATE BETWEEN #{start_date} AND #{end_date}			
		</if>
		
		<if test="keyword !=null">
			<bind name="keyword" value="'%' + keyword + '%'" />
			AND (mm.`id` LIKE #{keyword} OR mm.`name` LIKE #{keyword}
			OR
			mm.`compName` LIKE #{keyword}
			OR 
			D.`photo_uciCode` LIKE #{keyword}
			OR 
			M.`LGD_OID` LIKE #{keyword} 
			)
		</if>
		
		<if test="status !=null">
			AND D.`status`= #{status}
		</if>
		
		ORDER BY P.`copyright`,M.`LGD_PAYTYPE`,M.`LGD_PAYDATE` ASC
	</select>
	
	<!-- 온라인 결제관리(관리자)  -->
	<resultMap id="onlineMap" type="java.util.HashMap">
	    <result javaType="java.lang.Integer" column="paymentManage_seq" property="paymentManage_seq"></result>
	    <result javaType="java.lang.String" column="member_seq" property="member_seq"></result>
	    <result javaType="java.lang.String" column="LGD_BUYER" property="LGD_BUYER"></result>
	    <result javaType="java.lang.String" column="LGD_BUYERID" property="LGD_BUYERID"></result>
	    <result javaType="java.lang.String" column="LGD_RESPMSG" property="LGD_RESPMSG"></result>
	    <result javaType="java.lang.String" column="LGD_OID" property="LGD_OID"></result>
	    <result javaType="java.lang.String" column="LGD_PAYSTATUS" property="LGD_PAYSTATUS"></result>
	    <result javaType="java.lang.String" column="LGD_AMOUNT" property="LGD_AMOUNT"></result>
	    <result javaType="java.lang.String" column="LGD_PAYTYPE" property="LGD_PAYTYPE"></result>
	    <result javaType="java.lang.String" column="LGD_PAYDATE" property="LGD_PAYDATE"></result>
	    <result javaType="java.lang.String" column="regDate" property="regDate"></result>
	</resultMap>
	
	<!-- 온라인 결제 (목록) -->
	<select id="onlinePayResult" parameterType="java.util.HashMap" 
	    resultMap="onlineMap">
		SELECT `seq` AS `paymentManage_seq`,
			`member_seq`, `LGD_BUYER`,
			`LGD_BUYERID`, 
			`LGD_RESPMSG`,
			`LGD_OID`,
			`LGD_PAYSTATUS`,
			`LGD_AMOUNT`, 		
			`LGD_PAYTYPE`,
			`LGD_PAYDATE`,	
			`regDate`
		FROM
		`paymentManage`
		<where>	
		    
		    <if test="keyword !=null">
				<bind name="keyword" value="'%' + keyword + '%'" />
				(`LGD_BUYERID` LIKE #{keyword} 
					OR `LGD_BUYER` LIKE #{keyword} 
					OR `LGD_OID` LIKE #{keyword})
			</if> 	
			
			<if test="LGD_PAYTYPE !=null and LGD_PAYTYPE != 'all'">
				AND LGD_PAYTYPE = #{LGD_PAYTYPE}
			</if>
			
			<if test="LGD_PAYSTATUS !=null and LGD_PAYSTATUS != 'all'">
				AND LGD_PAYSTATUS = #{LGD_PAYSTATUS}
			</if>
			
			<if test="start_date != null and end_date != null">
			    AND LGD_PAYDATE BETWEEN #{start_date} AND #{end_date}
			</if>
			
		</where>
		ORDER BY `regDate` DESC
		LIMIT #{startPage}, #{pageVol}
	</select>
	
	<!-- 온라인 결제 (총 갯수) -->
	<select id="onlinePayCount" parameterType="java.util.HashMap" 
	    resultType="integer">
		SELECT COUNT(`seq`) as cnt
		FROM
		`paymentManage`
		<where>	
		    
		    <if test="keyword !=null">
				<bind name="keyword" value="'%' + keyword + '%'" />
				(`LGD_BUYERID` LIKE #{keyword} 
					OR `LGD_BUYER` LIKE #{keyword} 
					OR `LGD_OID` LIKE #{keyword})
			</if> 	
			
			<if test="LGD_PAYTYPE !=null and LGD_PAYTYPE != 'all'">
				AND LGD_PAYTYPE = #{LGD_PAYTYPE}
			</if>
			
			<if test="LGD_PAYSTATUS !=null and LGD_PAYSTATUS != 'all'">
				AND LGD_PAYSTATUS = #{LGD_PAYSTATUS}
			</if>
			
			<if test="start_date != null and end_date != null">
			    AND LGD_PAYDATE BETWEEN #{start_date} AND #{end_date}
			</if>
			
		</where>
		ORDER BY `regDate` DESC
	</select>
	
	<!-- 온라인 결제 (총 합계 금액) -->
	<select id="onlinePayPrice" parameterType="java.util.HashMap" 
	    resultType="integer">
		SELECT SUM(`LGD_AMOUNT`) as sum			
		FROM
		`paymentManage`
		<where>	
		    
		    <if test="keyword !=null">
				<bind name="keyword" value="'%' + keyword + '%'" />
				(`LGD_BUYERID` LIKE #{keyword} 
					OR `LGD_BUYER` LIKE #{keyword} 
					OR `LGD_OID` LIKE #{keyword})
			</if> 	
			
			<if test="LGD_PAYTYPE !=null and LGD_PAYTYPE != 'all'">
				AND LGD_PAYTYPE = #{LGD_PAYTYPE}
			</if>
			
			<if test="LGD_PAYSTATUS !=null and LGD_PAYSTATUS != 'all'">
				AND LGD_PAYSTATUS = #{LGD_PAYSTATUS}
			</if>
			
			<if test="start_date != null and end_date != null">
			    AND LGD_PAYDATE BETWEEN #{start_date} AND #{end_date}
			</if>
			
		</where>
		ORDER BY `regDate` DESC
	</select>

</mapper>