<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Photo">
	<!-- 사진 정보 수정 -->
	<update id="updatePhotoTitDesc" parameterType="com.dahami.newsbank.dto.PhotoDTO">
		UPDATE photo SET
		titleKr = #{titleKor},
		descriptionKr = #{descriptionKor},
		uciStat = '-1'
		WHERE uciCode = #{uciCode}
	</update>
	
	<!-- 사진 정보 수정 -->
	<update id="updatePhotoPic" parameterType="com.dahami.newsbank.dto.PhotoDTO">
		UPDATE photo 
			SET
				widthPixel = #{widthPx}
				, heightPixel = #{heightPx}
				, widthCm = #{widthCm}
				, heightCm = #{heightCm}
				, dpi = #{dpi}
				, fileSize = #{fileSize}
				, exif = #{exif}
				, uciStat = '-1'
			WHERE uciCode = #{uciCode}
	</update>
    
    <update id="updateSaleState" parameterType="com.dahami.newsbank.dto.PhotoDTO">
	    UPDATE photo SET
	    	saleStat = #{saleState},
	    	uciStat = '-1'
	    WHERE uciCode = #{uciCode} 
	</update>
	
	<update id="updateRightYN" parameterType="com.dahami.newsbank.dto.PhotoDTO">
	    UPDATE photo SET
	    	rightYN = #{portraitRightState},
	    	uciStat = '-1'
	    WHERE uciCode = #{uciCode} 
	</update>
	
	<select id="dibsPhoto" resultType="com.dahami.newsbank.dto.PhotoDTO" parameterType="java.util.Map">
	    SELECT B.bookmark_seq, M.compName AS copyright, A.uciCode, A.saleStat as saleState, M.admission, M.withdraw, M.activate FROM photo A
		INNER JOIN bookmarkPhoto B ON A.uciCode = B.photo_uciCode 
		INNER JOIN bookmark C ON B.bookmark_seq = C.seq
		INNER JOIN photo P ON B.photo_uciCode = P.uciCode
		INNER JOIN member M ON P.member_seq = M.seq
		WHERE C.member_seq = #{member_seq}
		<if test="bookmark_seq != 0 and bookmark_seq != null">
			AND B.bookmark_seq = #{bookmark_seq}
		</if>		
	    ORDER BY B.regDate DESC
		<if test="pageVol != 0">
			LIMIT #{start}, #{pageVol}    
		</if>
	</select>
	
	<select id="selPhoto" parameterType="string" resultType="com.dahami.newsbank.dto.PhotoDTO">
		<![CDATA[
			select
				uciCode, uciStat uciState, saleStat saleState, ownerType, rightYn portraitRightState, monochrome mono, person includePerson, 
				titleKr titleKor, titleEn titleEng, keywordKr keywordKor, keywordEn keywordEng, descriptionKr descriptionKor, descriptionEn descriptionEng,
				B.compName AS copyright, shotPerson, 
				publishDate, shotDate, A.regDate, A.updDate, 
				widthPixel widthPx, heightPixel heightPx, widthCm, heightCm, dpi, fileSize, exif,
				member_seq ownerNo, B.compName ownerName, preRate ownerPreRate, postRate ownerPostRate, compCode, hitCount
				, (select (activate != 1) from member where seq = ownerNo) mediaInactive, admission, withdraw, activate
			from photo A
			inner join member B on A.member_seq = B.seq
			where uciCode =  #{uciCode}
		]]>
	</select>
	
	<update id="hitPhoto" parameterType="string">
	    UPDATE 
	    	photo SET hitCount = hitCount + 1 
	    WHERE uciCode = #{uciCode} 
	</update>
	
	<!-- 홈 : 보도사진 -->	
	<select id="selectPhotoExh" parameterType="string" resultType="com.dahami.newsbank.dto.PhotoDTO">
	    SELECT A.widthCm, A.heightCm, A.uciCode, A.hitCount, M.name AS ownerName, B.seq AS mediaExActive FROM photo A
		INNER JOIN photoExhibition B ON A.uciCode = B.photo_uciCode
		INNER JOIN exhibitionList C ON B.exhibitionList_seq = C.seq 
		INNER JOIN member M ON A.member_seq = M.seq 
		WHERE C.exhName = #{exhName} AND
		M.activate = 1 AND 
		M.withdraw = 0 AND
		M.admission = 'Y' AND
		M.`type` = 'M' AND
		A.`saleStat` = 1 AND
		A.uciCode NOT IN (SELECT photo_uciCode FROM photoBlock) AND
		member_seq IN 
		<!-- 활성 매체사 SEQ 리스트 -->
		<foreach item="seq" index="index" collection="mediaSeq" open="(" separator="," close=")">
		    #{seq}
		</foreach>
	</select>
	
	<!-- 인기사진 : 다운로드 -->
	<select id="selectDownloadRank" parameterType="java.util.HashMap" resultType="com.dahami.newsbank.dto.PhotoDTO">
	    SELECT SUM(PD.downCount) as downCount, PD.photo_uciCode, P.widthCm, P.heightCm, P.uciCode, M.name AS ownerName FROM paymentDetail PD
		INNER JOIN photo P ON PD.photo_uciCode = P.uciCode
		INNER JOIN member M ON P.member_seq = M.seq
		WHERE uciCode NOT IN (SELECT photo_uciCode FROM photoBlock) AND
		P.saleStat = 1 AND
		member_seq IN 
		<!-- 활성 매체사 SEQ 리스트 (조건 : type = 'M', activate = 1, withdraw = 0, admission = 'Y') -->
		<foreach item="seq" index="index" collection="mediaSeq" open="(" separator="," close=")">
		    #{seq}
		</foreach>
		GROUP BY photo_uciCode
		ORDER BY downCount DESC, uciCode ASC
		LIMIT #{start}, #{count}
    </select>
	
	<!-- 인기사진 : 찜 -->
	<select id="selectBasketRank" parameterType="java.util.HashMap" resultType="com.dahami.newsbank.dto.PhotoDTO">
	    SELECT A.widthCm, A.heightCm, A.uciCode, M.compName AS ownerName, COUNT(*) AS zzimCount FROM photo A
		INNER JOIN bookmarkPhoto B ON A.uciCode = B.photo_uciCode
		INNER JOIN member M ON A.member_seq = M.seq
		WHERE A.saleStat = 1 AND 
		M.activate = 1 AND
		A.uciCode NOT IN (SELECT photo_uciCode FROM photoBlock) AND 
		member_seq IN 
		<!-- 활성 매체사 SEQ 리스트 (조건 : type = 'M', activate = 1, withdraw = 0, admission = 'Y') -->
		<foreach item="seq" index="index" collection="mediaSeq" open="(" separator="," close=")">
		    #{seq}
		</foreach>
		GROUP BY B.photo_uciCode
		HAVING zzimCount > 0
		ORDER BY zzimCount DESC, uciCode ASC
		LIMIT #{start}, #{count}
    </select>
    
	<!-- 인기사진 : 상세보기(조회 수) -->
	<select id="selectHitsRank" parameterType="java.util.HashMap" resultType="com.dahami.newsbank.dto.PhotoDTO">
	    SELECT P.widthCm, P.heightCm, P.uciCode, P.hitCount, M.compName AS ownerName
		FROM photo P
		LEFT JOIN member M ON P.member_seq = M.seq
		WHERE P.saleStat = 1 AND
		P.uciCode NOT IN (SELECT photo_uciCode FROM photoBlock) AND
		member_seq IN 
		<!-- 활성 매체사 SEQ 리스트 (조건 : type = 'M', activate = 1, withdraw = 0, admission = 'Y') -->
		<foreach item="seq" index="index" collection="mediaSeq" open="(" separator="," close=")">
		    #{seq}
		</foreach>
		ORDER BY hitCount DESC
	    LIMIT #{start}, #{count}
    </select>
    
	<!-- 사진관리 : 통계정보 (찜, 다운로드, 상세보기, 결제, 뮤지엄, 컬렉션) -->
	<select id="selectStats" resultType="com.dahami.newsbank.web.dto.StatsDTO" parameterType="string">
	    SELECT (
		SELECT COUNT(BP.photo_uciCode)
		FROM bookmarkPhoto AS BP
		WHERE BP.photo_uciCode = #{uciCode}) AS bookmarkCount, (
		SELECT IFNULL(SUM(downCount), 0)
		FROM paymentDetail
		WHERE photo_uciCode = #{uciCode}) AS downCount, PH.hitCount AS hitCount, (
		SELECT COUNT(PD.seq)
		FROM paymentDetail AS PD
		WHERE PD.photo_uciCode = #{uciCode}) AS saleCount, (
		SELECT COUNT(CASE WHEN EL.exhType='M' THEN 1 END)
		FROM photoExhibition AS PE
		LEFT JOIN exhibitionList AS EL ON PE.exhibitionList_seq = EL.seq
		WHERE PE.photo_uciCode = #{uciCode}) AS museumCount, (
		SELECT COUNT(CASE WHEN EL.exhType='C' THEN 1 END)
		FROM photoExhibition AS PE
		LEFT JOIN exhibitionList AS EL ON PE.exhibitionList_seq = EL.seq
		WHERE PE.photo_uciCode = #{uciCode}) AS collectionCount
		FROM photo AS PH
		WHERE PH.uciCode = #{uciCode}		
    </select>
    
	<update id="deletePhoto" parameterType="com.dahami.newsbank.dto.PhotoDTO">
		UPDATE photo SET
		uciStat = '-1',
		saleStat = '3'
		WHERE uciCode = #{uciCode}
	</update>
	
	<update id="blindPhoto" parameterType="com.dahami.newsbank.dto.PhotoDTO">
		UPDATE photo SET		
		saleStat = #{saleState},
		uciStat = '-1'
		WHERE uciCode = #{uciCode}
	</update>
	
	<select id="selectExhibition" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    SELECT seq, exhName, exhDes, exhKeyword, exhUpper, exhType, regDate 
	    FROM exhibitionList 
	    WHERE exhName = #{exhName}
	</select>
	
	<delete id="deletePhotoExh" parameterType="java.util.HashMap">
	     DELETE FROM photoExhibition 
	     WHERE exhibitionList_seq = #{exhibitionList_seq} AND photo_uciCode = #{uciCode} 
	</delete>
	
	<insert id="insertPhotoExh" parameterType="java.util.HashMap">
	    INSERT INTO photoExhibition (exhibitionList_seq, photo_uciCode, regDate)
	    VALUES (#{exhibitionList_seq}, #{uciCode}, NOW());
	</insert>
	
	<insert id="insertPhotoBlock" parameterType="java.util.HashMap">
	    INSERT INTO photoBlock (reason, regDate, photo_uciCode)
	    VALUES (#{reason}, NOW(), #{uciCode})
	</insert>
	
	<insert id="insertActionLog" parameterType="com.dahami.newsbank.web.dto.ActionLogDTO">
		insert into actionLog
			(uciCode, memberSeq, actionType, description, ip) 
			values
			(#{uciCode}, #{memberSeq}, #{actionType}, #{description}, #{ip})
	</insert>
	
	<select id="listActionLog" parameterType="string" resultType="com.dahami.newsbank.web.dto.ActionLogDTO">
		select A.seq seq, A.uciCode, A.memberSeq, B.id memberId, B.name memberName, A.actionType, A.ip, A.description, A.regDate
			from actionLog A, member B
			where uciCode = #{value} AND A.memberSeq = B.seq
			order by seq desc
	</select>
	
	<select id="lastActionLog" parameterType="string" resultType="com.dahami.newsbank.web.dto.ActionLogDTO">
		select A.seq seq, A.uciCode, A.memberSeq, B.id memberId, B.name memberName, A.actionType, A.ip, A.description, A.regDate
			from actionLog A, member B
			where uciCode = #{value} AND A.memberSeq = B.seq
			order by seq desc
			limit 0, 1
	</select>
</mapper>