<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Photo">
	<!-- 사진 정보 수정 -->
	<update id="updatePhoto" parameterType="com.dahami.newsbank.dto.PhotoDTO">
		UPDATE photo SET
		titleKr = #{titleKor},
		descriptionKr = #{descriptionKor},
		uciStat = '-1'
		WHERE uciCode = #{uciCode}
	</update>
    
    <update id="updateSaleState" parameterType="com.dahami.newsbank.dto.PhotoDTO">
	    UPDATE photo SET
	    	saleStat = #{saleState},
	    	uciStat = '-1'
	    WHERE uciCode = #{uciCode} 
	</update>
	
	<update id="updateRightYN" parameterType="com.dahami.newsbank.dto.PhotoDTO">
	    UPDATE photo SET
	    	rightYN = #{portraitRightState},
	    	uciStat = '-1'
	    WHERE uciCode = #{uciCode} 
	</update>
	
	<select id="dibsPhoto" resultType="com.dahami.newsbank.dto.PhotoDTO" parameterType="java.util.Map">
	    SELECT B.bookmark_seq, A.* FROM photo A
		INNER JOIN bookmarkPhoto B ON A.uciCode = B.photo_uciCode 
		INNER JOIN bookmark C ON B.bookmark_seq = C.seq
		INNER JOIN member D  ON C.member_seq = D.seq
		WHERE C.member_seq = #{member_seq}
		<if test="bookmark_seq != null">
			AND B.bookmark_seq = #{bookmark_seq}
		</if>
	</select>
	
	<select id="selPhoto" parameterType="string" resultType="com.dahami.newsbank.dto.PhotoDTO">
		<![CDATA[
			select
				uciCode, uciStat uciState, saleStat saleState, ownerType, rightYn portraitRightState, monochrome mono, person includePerson, 
				titleKr titleKor, titleEn titleEng, keywordKr keywordKor, keywordEn keywordEng, descriptionKr descriptionKor, descriptionEn descriptionEng,
				copyright, shotPerson, 
				publishDate, shotDate, regDate, updDate, 
				widthPixel widthPx, heightPixel heightPx, widthCm, heightCm, dpi, mb fileSizeMB, exif,
				member_seq ownerNo, compCode, hitCount
			from photo 
			where uciCode = #{uciCode}
		]]>
	</select>
	
	<update id="hitPhoto" parameterType="string">
	    UPDATE 
	    	photo SET hitCount = hitCount + 1 
	    WHERE uciCode = #{uciCode} 
	</update>

	<!-- 홈 : 보도사진 -->	
	<select id="selectPhotoExh" parameterType="string" resultType="com.dahami.newsbank.dto.PhotoDTO">
	    SELECT A.* FROM photo A
		INNER JOIN photoExhibition B ON A.uciCode = B.photo_uciCode
		INNER JOIN exhibitionList C ON B.exhibitionList_seq = C.seq 
		WHERE C.exhName = #{exhName}
	</select>
	
	<!-- 인기사진 : 다운로드 -->
	<select id="selectDownloadRank" resultType="com.dahami.newsbank.dto.PhotoDTO">
	    SELECT A.* FROM photo A
		INNER JOIN paymentDetail B ON A.uciCode = B.photo_uciCode
		ORDER BY B.downCount DESC
		LIMIT 0, 7
	</select>
	
	<!-- 인기사진 : 찜 -->
	<select id="selectBasketRank" resultType="com.dahami.newsbank.dto.PhotoDTO">
	    SELECT A.*, COUNT(*) AS count FROM photo A
		INNER JOIN bookmarkPhoto B ON A.uciCode = B.photo_uciCode
		GROUP BY B.photo_uciCode
		HAVING count > 0
		ORDER BY count DESC
		LIMIT 0, 7
    </select>
    
	<!-- 인기사진 : 상세보기(조회 수) -->
	<select id="selectHitsRank" resultType="com.dahami.newsbank.dto.PhotoDTO">
	    SELECT * FROM photo ORDER BY hitCount DESC LIMIT 0, 7
    </select>
    
	<!-- 사진관리 : 통계정보 (찜, 다운로드, 상세보기, 결제, 뮤지엄, 컬렉션) -->
	<select id="selectStats" resultType="com.dahami.newsbank.web.dto.StatsDTO" parameterType="string">
	    SELECT (
		SELECT COUNT(BP.photo_uciCode)
		FROM bookmarkPhoto AS BP
		WHERE BP.photo_uciCode = #{uciCode}) AS bookmarkCount, (
		SELECT IFNULL(SUM(downCount), 0)
		FROM paymentDetail
		WHERE photo_uciCode = #{uciCode}) AS downCount, PH.hitCount AS hitCount, (
		SELECT COUNT(PD.seq)
		FROM paymentDetail AS PD
		WHERE PD.photo_uciCode = #{uciCode}) AS saleCount, (
		SELECT COUNT(CASE WHEN EL.exhType='M' THEN 1 END)
		FROM photoExhibition AS PE
		LEFT JOIN exhibitionList AS EL ON PE.exhibitionList_seq = EL.seq
		WHERE PE.photo_uciCode = #{uciCode}) AS museumCount, (
		SELECT COUNT(CASE WHEN EL.exhType='C' THEN 1 END)
		FROM photoExhibition AS PE
		LEFT JOIN exhibitionList AS EL ON PE.exhibitionList_seq = EL.seq
		WHERE PE.photo_uciCode = #{uciCode}) AS collectionCount
		FROM photo AS PH
		WHERE PH.uciCode = #{uciCode}		
    </select>
    
	<update id="deletePhoto" parameterType="com.dahami.newsbank.dto.PhotoDTO">
		UPDATE photo SET
		uciStat = '-1',
		saleStat = '3'
		WHERE uciCode = #{uciCode}
	</update>
	
	<update id="blindPhoto" parameterType="com.dahami.newsbank.dto.PhotoDTO">
		UPDATE photo SET		
		saleStat = '2',
		uciStat = '-1'
		WHERE uciCode = #{uciCode}
	</update>
	
</mapper>