<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Photo">
	<!-- 사진 정보 수정 -->
	<update id="updatePhoto" parameterType="com.dahami.newsbank.dto.PhotoDTO">
		UPDATE photo SET
		titleKr = #{titleKor},
		descriptionKr = #{descriptionKor}
		WHERE uciCode = #{uciCode}
	</update>
    
    <update id="updateSaleState" parameterType="com.dahami.newsbank.dto.PhotoDTO">
	    UPDATE photo SET
	    	saleStat = #{saleState}
	    WHERE uciCode = #{uciCode} 
	</update>
	
	<update id="updateRightYN" parameterType="com.dahami.newsbank.dto.PhotoDTO">
	    UPDATE photo SET
	    	rightYN = #{portraitRightState}
	    WHERE uciCode = #{uciCode} 
	</update>
	
	<select id="dibsPhoto" resultType="com.dahami.newsbank.dto.PhotoDTO" parameterType="java.util.Map">
	    SELECT A.* FROM photo A
		INNER JOIN bookmarkPhoto B ON A.uciCode = B.photo_uciCode 
		INNER JOIN bookmark C ON B.bookmark_seq = C.seq
		INNER JOIN member D  ON C.member_seq = D.seq
		WHERE C.member_seq = #{member_seq}
	</select>
	
</mapper>