<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Cart">
		    
	<select id="selectCartList" resultType="com.dahami.newsbank.web.dto.CartDTO" parameterType="java.util.Map">
      	SELECT A.photo_uciCode as uciCode, M.compName AS copyright, SUM(price) as price FROM basket A 
		INNER JOIN photo B ON A.photo_uciCode = B.uciCode
		INNER JOIN member M ON B.member_seq = M.seq
		WHERE A.member_seq = #{member_seq}
		GROUP BY A.photo_uciCode
	</select>
	
	<select id="selectUsageList" resultType="com.dahami.newsbank.web.dto.UsageDTO" parameterType="java.util.Map">
	    SELECT A.seq AS usageList_seq, A.usage, A.division1, A.division2, A.division3, A.usageDate FROM usageList A
		INNER JOIN basket B ON A.seq = B.usageList_seq
		WHERE B.photo_uciCode = #{uciCode} AND B.member_seq = #{member_seq}
	</select>
	
	<delete id="delete">
	    DELETE FROM basket WHERE member_seq = #{member_seq} AND photo_uciCode = #{uciCode}	    
	</delete>
	
	<insert id="insert">
	    INSERT INTO basket (price, regDate, member_seq, usageList_seq, photo_uciCode) VALUES (#{price}, NOW(), #{member_seq}, #{usageList_seq}, #{uciCode})	    
	</insert>
</mapper>