@charset "utf-8"; /* CSS Document */  
.mypage{width:1240px; margin:0 auto; padding-bottom:100px;}
.head{float:left; width:100%; padding-top:80px;}
.head h2{width:100%; float:left; color:#333; font-size:28px; font-weight:400;}
.head p{float: left; width:100%; color:#999; font-size:16px; margin-top:20px;}

.table_head {border-bottom:3px #555b62 solid; float:left; width:100%;}
.table_head h3 { float:left; margin:50px 0 15px; width:100%; text-align:left; font-size:18px; }
.table_head h3:before{content:""; width:5px; height:18px; background:#f79320; float:left; margin-right:10px; margin-top:1px ;}
.mypage h4 { float:left; margin:15px 0 10px; width:100%; text-align:left;}
.mypage  p.txt{width:100%; text-align:left; margin-bottom:30px; font-size:13px; color:#999;}

.mypage .pw{ float:left; width:100%; border-top:2px #f79320 solid; background:#fbfbfb; height:250px; padding:80px 0; border-bottom:1px #ccc solid;}
.mypage .pw .pw_box{ }
.mypage .pw .pw_box input{width:400px; border:1px #ccc solid; padding:10px 15px; border-radius:4px; font-size:16px; }
.mypage .pw .pw_box button{margin-left:5px; padding:10px 30px; color:#fff; background:#f79320; font-size:16px; border-radius:4px; border:0;}
.mypage .pw .guide{ margin-top:30px; font-size:14px; }
.mypage .pw .guide a{ margin-left:10px; text-decoration:underline; color:#000; }
.mypage .pw .guide a:after{content: ''; position:absolute; height: 0; width: 0; margin:3px 0 0 5px; border: solid transparent; border-left-color: #000; border-width: 4px 4px; -webkit-transition: border 0.2s ease-in-out; transition: border 0.2s ease-in-out; font-size:0;}

.mypage .mypage_ul{width:100%; float:left; margin-top:40px;}
.mypage .mypage_ul .mp_tab1{ }
.mypage .mypage_ul .mp_tab1 li {float: left; width:16.66%; height: 45px; font-size: 14px; color: #666; line-height: 43px; text-align: center; border: 1px solid #dbdbdb; position: relative; margin-left:-1px;}
.mypage .mypage_ul .mp_tab1 li a{color:#666}
.mypage .mypage_ul li a{display:block;}
.mypage .mypage_ul .mp_tab1 li:first-child{margin-left:0;}
.mypage .mypage_ul .mp_tab1 li.on{background:#f79320; color:#fff; border-color:#f79320;}
.mypage .mypage_ul .mp_tab1 li.on a{color:#fff;}
.mypage .mypage_ul .mp_tab2{ width:100%; float:left; margin-top:15px; text-align:left;}
.mypage .mypage_ul .mp_tab2 li{font-size:14px; float:left; margin-right:30px;}
.mypage .mypage_ul .mp_tab2 li a{ color:#666;}
.mypage .mypage_ul .mp_tab2 li.on a{ color:#f79320; text-decoration:underline;}

.mypage section *{ font-family: 'nanum', sans-serif; }
.mypage table {clear: both; width:100%; margin-bottom:50px; }
.mypage .tb02{margin-bottom:20px;}
.mypage .tb02 th { padding: 8px 0; border-left: 1px solid #4d4941; background: #665947; color:#fff; font-size: 13px; text-align: center; }
.mypage .tb02 td { padding: 10px 0; border-left: 1px solid #e6e6e6; border-top: 1px solid #dce0e9; font-size:13px; text-align: center; line-height: 18px; }
.mypage .tb02 tfoot td { background:#f5f4f0; font-weight:600; border-bottom: 1px solid #d7d7d7; }
.mypage th:first-child, .mypage td:first-child { border-left:none; }
.mypage li .btn{ padding: 10px 20px; color: #666; border: 1px solid #ccc; background:#fff; margin-left:-1px;}
.mypage li .btn.on{ color: #fff; border: 1px solid #f58018; background:#f79320; margin-left:-1px;}

.mypage .tb01 {border-bottom:1px #999 solid; text-align:left; }
.mypage .tb01 tfoot td{background:#f6f6f6; font-weight:bold;}
.mypage .tb01 th { padding: 10px 20px; color:#333; font-size: 14px; border-top: 1px solid #dce0e9; height:60px; }
.mypage .tb01 th .ex { color:red; margin-right:5px; float:left; margin-top:2px;}
.mypage .tb01 td { padding: 10px 30px; border-top: 1px solid #dce0e9; font-size:13px; line-height: 18px; }
.mypage .tb01 td.phone { padding: 10px 0 0 30px;  }
.mypage .tb01 td *{float:left;}
.mypage .tb01 td input{  padding: 12px 10px;}
.mypage .tb01 td input[type=file]{ padding:8px ; border: 1px solid #d9d9d9; border-radius: 2px; width:400px;}
.mypage .tb01 td input:focus{color:#666;border:1px solid #f68b1f;outline:0;background:#fff}
.mypage .tb01 td .file_add{ float:left; margin-left:40px; margin-top:8px; width:24px; height:24px; background:url(../images/mp/add.png) 0 0 no-repeat; text-indent:-9999px;}
.mypage .tb01 td .file_del{ float:left; margin-left:8px;  margin-top:8px; width:24px; height:24px; background:url(../images/mp/del.png) 0 0 no-repeat;text-indent:-9999px}

.mypage .tb01 td label{ float:left; width:50%; margin:8px 0;}
.mypage .tb01 td label.per{float:left; color:#666;}
.mypage .tb01 td label.per .media_name{float:left; font-size:13px; color:#333; font-weight:bold; margin:0;}
.mypage .tb01 td label.per .media_name input{ float:left; margin:3px;}
.mypage .tb01 td label.per span{float:left; margin-left:15px;}
.mypage .tb01 td label.per span b{float:none; margin:0 3px;}
.mypage .inp_txt { padding: 10px; color: #999; border: 1px solid #d9d9d9; border-radius: 2px;}
.mypage .ico_require { display:inline-block; overflow:hidden; width:15px; height:15px; margin-left:5px; vertical-align:-5px; color:transparent; background-position:-480px 0!important }
.mypage .ico { text-indent:-999em; background:url(http://www.kdnavien.co.kr/images/ko/common/ico_pack.png) no-repeat }
.mypage .bar{margin:10px 5px;}
.mypage .btn_input1{ padding: 10px 20px; color: #666; border: 1px solid #aaa; background:#fff; border-radius: 2px; margin-left:10px; }
.mypage .btn_input2{ padding: 10px 20px; color: #fff; border: 1px solid #f79320; background:#f79320; border-radius: 2px; margin-left:10px; }
.mypage .edit_phone{width:100%; margin-top:10px; border-top:1px #ddd solid;  background:#f9f9f9; padding:10px 20px;}
.mypage .edit_phone_txt{ width:100px; color:#666; font-size:12px; line-height:40px;}
.mypage .edit_phone div{width:100%; margin-top:10px;}

.mypage .btn_area{width:100%; float:left; height:50px; margin-top:40px;}
.mypage .btn_area a{padding:14px 50px; font-size:15px; font-weight:600; border-radius:4px;}

.mypage .tb01 select{margin-right:5px; height:40px;}
.mypage .tb01 .check{ margin:10px 5px 10px 10px; }
.mypage .tb01 .check input{margin:3px;}

.mypage .calculate_info_area{width:100%; float:left; height:50px; background:#f6f6f6; border:1px #ddd solid; color:#666; font-size:14px; line-height:50px; margin:30px 0; font-weight:600; }

.mypage .tb03 { border-top:2px #555b62 solid; border-bottom:1px #999 solid; }
.mypage .tb03 th { padding: 10px 20px; color:#333; font-size: 14px; border-top: 1px solid #dce0e9; height:45px; background:#f6f6f6; }
.mypage .tb03 td { padding: 10px 30px; border-top: 1px solid #dce0e9; font-size:13px; line-height: 18px; }
.mypage .tb03 td a { color:#000;}
.mypage .tb03 td a:hover { text-decoration:underline;}
.mypage .tb03 tfoot td { font-weight:bold; color:#f79320  }

.ex_txt{float:left; font-size:13px; color:#666; text-align:left; margin:-20px 0 20px; }

.mypage .table_head .cms_search{float:right; position:relative; margin-top:-36px; font-size:13px;}
.mypage .table_head .cms_search input{ margin:0 5px 0 10px; border:1px #ddd solid ; padding:3px 4px; width:240px;}
.mypage .table_head .cms_search button {padding:4px 15px; background:#f79320; border:0; color:#fff; border-radius:2px;}

.mypage .filters li.filter_title{float:left; padding:0 40px 0 20px; height:50px; border-right:1px #e5e5e5 solid; line-height:50px; position:relative; font-size:14px; cursor:pointer;}
.mypage .filters li.filter_title.filter_ico,.mypage .filters li.filter_title.folder_ico{ margin-left:0; }

@media (max-width: 1400px){
.mypage .filters li.filter_title.filter_ico{ display:block; border-left:0;}
.mypage .filters li.filter_title:nth-child(2){margin-left:0; border-left:0;}
.mypage .filters li.filter_title{max-width:150px}
.mypage .filters li.filter_title:after{right:15px;}}


.mypage .filters .filter_rt{margin-right:10px;}

.mypage .btn_sort{float:left; width:100%; margin:20px 0; font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif; letter-spacing:-1px; }
.mypage .btn_sort span.task_check{float:left; border:1px #e2e2e2 solid; background:#f8f8f8; width:28px; height:28px;cursor:pointer;}
.mypage .btn_sort span.task_check input{ margin:7px 0 0 2px}
.mypage .btn_sort .button{float:left; }
.mypage .btn_sort .button li{float:left; border:1px #e2e2e2 solid;height:28px; margin-left:8px; font-size:13px; line-height:28px; padding:0 10px;cursor:pointer;}
.mypage .btn_sort .button li.sort_down{ background:#f8f8f8; font-weight:600;}
.mypage .btn_sort .button li.sort_del{ font-weight:600; padding-left:26px; margin-left:-1px; background:url(../images/mp/ico_del.png) 8px 6px no-repeat;background-color:#f8f8f8; }
.mypage .btn_sort .button li.sort_menu{ }
.mypage .btn_sort .button li.sort_up{ background:#f8f8f8; font-weight:600;}

.mypage #wish_list2{ float:left;}
.mypage #wish_list2 ul{width:100%; float:left;}
.mypage #wish_list2 .thumb{border:1px #e6e6e6 solid; float:left; margin:0 10px 10px 0;width:198px;}
.mypage #wish_list2 .thumb:nth-child(6n){ margin-right:0;}
.mypage #wish_list2 .thumb a{display:table-cell;width:196px; height:196px; vertical-align:middle; background:#f6f6f6; }
.mypage #wish_list2 .thumb img{max-width:196px; max-height:196px; }
.mypage #wish_list2 .thumb .thumb_info{width:100%; float:left; border-top:1px #e6e6e6 solid; padding:8px 8px 4px 34px; font-size:13px; }
.mypage #wish_list2 .thumb .thumb_info input {float:left; margin-left:-24px; margin-top:10px;}
.mypage #wish_list2 .thumb .thumb_info span{ float:left; width:100%; text-align:left; margin-bottom:4px;}
.mypage #wish_list2 .thumb .thumb_btn{ float:left; width:100%; background:#666;}
.mypage #wish_list2 .thumb .thumb_btn li{float:left; width:50%; text-indent:-9999px; height:32px; cursor:pointer;}
.mypage #wish_list2 .thumb .thumb_btn .btn_down{background:url(../images/mp/btn_down.png) center 6px no-repeat;}
.mypage #wish_list2 .thumb .thumb_btn .btn_del{background:url(../images/mp/btn_del.png) center 6px no-repeat;}
.mypage #wish_list2 .thumb .thumb_btn li:hover{background-color:#4d4d4d;}


.mypage #cms_list2{ float:left;}
.mypage #cms_list2 ul{width:100%; float:left;}
.mypage #cms_list2 .thumb{border:1px #e6e6e6 solid; float:left; margin:0 10px 10px 0;width:198px;}
.mypage #cms_list2 .thumb:nth-child(6n){ margin-right:0;}
.mypage #cms_list2 .thumb a{display:table-cell;width:196px; height:196px; vertical-align:middle; background:#f6f6f6; }
.mypage #cms_list2 .thumb img{max-width:196px; max-height:196px; }
.mypage #cms_list2 .thumb .thumb_info{width:100%; float:left; border-top:1px #e6e6e6 solid; padding:8px 8px 4px 34px; font-size:13px; }
.mypage #cms_list2 .thumb .thumb_info input {float:left; margin-left:-24px; margin-top:10px;}
.mypage #cms_list2 .thumb .thumb_info span{ float:left; width:100%; text-align:left; margin-bottom:4px;}
.mypage #cms_list2 .thumb .thumb_btn{ float:left; width:100%; background:#666;}
.mypage #cms_list2 .thumb .thumb_btn li{float:left; width:25%; text-indent:-9999px; height:32px; cursor:pointer;}
.mypage #cms_list2 .thumb .thumb_btn .btn_down{background:url(../images/mp/btn_down.png) center 6px no-repeat;}
.mypage #cms_list2 .thumb .thumb_btn .btn_del{background:url(../images/mp/btn_del.png) center 6px no-repeat;}
.mypage #cms_list2 .thumb .thumb_btn .btn_view{background:url(../images/mp/btn_view.png) center 6px no-repeat;}
.mypage #cms_list2 .thumb .thumb_btn .btn_likeness{background:url(../images/mp/btn_likeness.png) center 6px no-repeat;}
.mypage #cms_list2 .thumb .thumb_btn li:hover{background-color:#4d4d4d;}

.mypage .view .view_lt .btn_edit{ position:absolute; right:0; top:0; height:28px; padding:0 15px; line-height:28px; color:#f79320; border:1px #f79320 solid; border-radius:14px; font-size:13px;}
.mypage .view .view_lt .cont_area{ padding-bottom:30px; border-bottom:1px #eee solid;}
.mypage .view .view_lt .img_info_area.area1{ width:280px; border-right:1px #eee solid; padding-right:20px; margin-top:30px; border-top:0;}
.mypage .view .view_lt .img_info_area.area2{width:520px; margin-left:20px; margin-top:30px; border-top:0;}
.mypage .view .view_lt .img_info_area.area1 .info_tit, .mypage .view .view_lt .img_info_area.area2 .info_tit{margin-top:0;}

.mypage .view .view_lt .img_info_area.area1 dl{grid-template-columns:28% 72%;}
.mypage .view .view_lt .img_info_area.area2 dl{grid-template-columns:18% 30% 15% 34%;}


.mypage .view .view_rt{ padding-top:25px; padding-left:20px; }
.mypage .view .view_rt .cms_rt{ float:left; width:100%; }
.mypage .view .view_rt .cms_rt .info_tit {float:left; width:100%; margin:30px 0 15px; font-size:15px; color:#f79320; }
.mypage .view .view_rt .cms_rt .cms_table1{width:100%; border-top:1px #dfdfdf solid; font-size:13px; color:#333;}
.mypage .view .view_rt .cms_rt .cms_table1 th { background:#fbfbfb;border-bottom:1px #eee solid; height:35px; padding:0 15px;}
.mypage .view .view_rt .cms_rt .cms_table1 th:nth-child(2){border-left:1px #eee solid; text-align:right; }
.mypage .view .view_rt .cms_rt .cms_table1 td {border-bottom:1px #eee solid;border-left:1px #eee solid; height:40px; padding:0 15px; text-align:right;}
.mypage .view .view_rt .cms_rt .cms_table1 td b{color:#f79320; padding-right:5px;}

.mypage .view .view_rt .cms_rt .cms_table2{width:100%; border-top:1px #808080 solid; font-size:13px; color:#333; border-bottom:1px #b3b3b3 solid;}
.mypage .view .view_rt .cms_rt .cms_table2 th{border-bottom:1px #eee solid; height:50px; padding:0 10px;}
.mypage .view .view_rt .cms_rt .cms_table2 td{border-bottom:1px #eee solid; height:50px; padding:0 15px;}
.mypage .view .view_rt .cms_rt .cms_table2 td label{float:left; margin-right:20px;}
.mypage .view .view_rt .cms_rt .cms_table2 td label input{float:left; margin-top:3px; margin-right:3px;}

.mypage .view .view_rt .cms_rt .add_tag{float:left; width:100%;}
.mypage .view .view_rt .cms_rt .add_tag input{ margin-right:5px; border:1px #ddd solid ; padding:4px 4px; width:310px; float:left;}
.mypage .view .view_rt .cms_rt .add_tag button {padding:5px 15px; background:#b3b3b3; border:0; color:#fff; border-radius:2px; float:left;}
.mypage .view .view_rt .cms_rt .tag_list{ float:left; width:100%; margin-top:10px;}
.mypage .view .view_rt .cms_rt .tag_list li{ float:left; padding:8px 12px 8px 30px; border-radius:16px; font-size:13px; margin:5px; position:relative;}
.mypage .view .view_rt .cms_rt .tag_list li .tag_remove{ float:left; left:8px; top:-1px; position:absolute;color: #999; font-size: 24px; cursor:pointer; padding:2px; }
.mypage .view .view_rt .cms_rt .tag_list .tag_self{ background:#fff; border:1px #f79320 solid;}
.mypage .view .view_rt .cms_rt .tag_list .tag_auto{ background:#f5f5f5; border:1px #ccc solid;}

.mypage .view .view_lt .cont_area .img_tit:first-child{color:#666; margin-bottom:0; font-size:18px; }

.mypage .mp_btn{float:right; padding:10px 15px; font-size:13px; border-radius:2px;color: #666; border: 1px solid #aaa; }


.error{text-align:center; font-size:12px;  padding-top:10px; margin-bottom:10px; }
.error p{ color:red;}
